@model AppUserStudentVM

<div class="container mt-5">
    @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: '@TempData["Success"]',
                confirmButtonText: 'OK'
            });
        </script>
    }
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create User</h4>
                    <p class="card-description">Basic form layout</p>
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" placeholder="Username" required>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FullName"></label>
                            <input asp-for="FullName" class="form-control"  placeholder="FullName" required>
                            <span asp-validation-for="FullName"   class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" placeholder="Email" required>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="GroupName"></label>
                            <input asp-for="GroupName" class="form-control" placeholder="GroupName" required>
                            <span asp-validation-for="GroupName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="RepeatPassword"></label>
                            <input asp-for="RepeatPassword" class="form-control" placeholder="Password" required>
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProfileImage"></label>
                            <input asp-for="ProfileImage" class="form-control" placeholder="ProfileImage" required>
                            <span asp-validation-for="ProfileImage" class="text-danger"></span>
                        </div>
                       

                       
                       
                        <button type="submit" class="btn btn-primary me-2">Submit</button>
                        <a asp-action="Index" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
