<div class="container">
    <button type="button" class="btn btn-success mb-3"><a class="text-black text-decoration-none" asp-action="Create"> Create</a></button>

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Student Table</h4>
                    <p class="card-description">Add class <code>.table-striped</code></p>
                    <div class="table-responsive">
                        <table id="order-listing" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>First name</th>
                                    <th>Grade</th>
                                    <th>groupName</th>
                                    <th>createdTime</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Herman Beck</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-order="25"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Messsy Adam</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-order="75"></div>
                                        </div>
                                    </td>
                                    <td>$245.30</td>
                                    <td>July 1, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Herman Beck</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-order="25"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Messsy Adam</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-order="75"></div>
                                        </div>
                                    </td>
                                    <td>$245.30</td>
                                    <td>July 1, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Herman Beck</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-order="25"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Messsy Adam</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-order="75"></div>
                                        </div>
                                    </td>
                                    <td>$245.30</td>
                                    <td>July 1, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Herman Beck</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-order="25"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Messsy Adam</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-order="75"></div>
                                        </div>
                                    </td>
                                    <td>$245.30</td>
                                    <td>July 1, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Herman Beck</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-order="25"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Messsy Adam</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-order="75"></div>
                                        </div>
                                    </td>
                                    <td>$245.30</td>
                                    <td>July 1, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Herman Beck</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-order="25"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Messsy Adam</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-order="75"></div>
                                        </div>
                                    </td>
                                    <td>$245.30</td>
                                    <td>July 1, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Herman Beck</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-order="25"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Messsy Adam</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-order="75"></div>
                                        </div>
                                    </td>
                                    <td>$245.30</td>
                                    <td>July 1, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Herman Beck</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-order="25"></div>
                                        </div>
                                    </td>
                                    <td>$ 77.99</td>
                                    <td>May 15, 2015</td>
                                </tr>
                                <tr>
                                    <td class="py-1"><img src="~/admin/images/faces/face1.jpg" alt="image" /></td>
                                    <td>Messsy Adam</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" data-order="75"></div>
                                        </div>
                                    </td>
                                    <td>$245.30</td>
                                    <td>July 1, 2015</td>
                                </tr>
                                <!-- Add more rows as needed -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
