  <div class="page-banner-area page-contact" id="page-banner">
    <div class="overlay dark-overlay"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 m-auto text-center col-sm-12 col-md-12">
          <div class="banner-content content-padding fade-in">
            <h1 class="text-white">Check our story</h1>
            <p>
              The story of three teenagers who are behind this masterpiece
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--MAIN HEADER AREA END -->

  <!--  ABOUT AREA START  -->
  <section class="section-padding">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 col-md-8 mb-4 slide-in-left">
          <h3 class="mb-3">We’re Coders & <br />A group of friends</h3>
          <p class="mb-4">
            We provide you with the best meeting you could possibly imagine
          </p>

          <span class="h5 mb-4">Let's Check what we do actually :</span>
          <ul class="about-list2 my-4">
            <li class="mb-2">
              <i class="far fa-check-circle"></i>No time limitations for
              seamless sessions.
            </li>

            <li class="mb-2">
              <i class="far fa-check-circle"> </i>Personalize your virtual
              learning environment to fit your needs.
            </li>

            <li class="mb-2">
              <i class="far fa-check-circle"> </i>Consistent experience on
              desktops, tablets, and smartphones.
            </li>

            <li class="mb-2">
              <i class="far fa-check-circle"> </i>Reliable and trusted by
              hundreds of students and tutors.
            </li>
          </ul>

          <a href="contact.html" class="mt-3 d-inline-block"
            >Learn more about us <i class="fa fa-angle-right"></i
          ></a>
        </div>

        <div class="col-lg-6 col-md-4 slide-in-right">
          <img
            src="images/about/about-4.jpg"
            alt=""
            class="img-fluid w-100"
          />
        </div>
      </div>
    </div>
  </section>
  <!--  ABOUT AREA END  -->
  <!--  HISTORY AREA  -->
  
  <!--  HISTORY AREA END  -->
  <!--  COUNTER AREA  -->
  <section class="section-padding pt-0">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 fade-in">
          <div class="text-center border p-4 rounded mb-4">
            <span
              class="counter text-dark font-weight-normal"
              data-count="460"
              >0</span
            >
            <h5 class="text-uppercase mt-2">Our Happy Clients</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 fade-in">
          <div class="text-center border p-4 rounded mb-4">
            <span class="counter text-dark font-weight-normal" data-count="60"
              >0</span
            >
            <h5 class="text-uppercase mt-2">Projects Done</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 fade-in">
          <div class="text-center border p-4 rounded mb-4">
            <span class="counter text-dark font-weight-normal" data-count="30"
              >0</span
            >
            <h5 class="text-uppercase mt-2">Experienced staff</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 fade-in">
          <div class="text-center border p-4 rounded">
            <span class="counter text-dark font-weight-normal" data-count="25"
              >0</span
            >
            <h5 class="text-uppercase mt-2">Ongoing Projects</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  COUNTER AREA END -->
  <!--  SECTION Service-2START  -->
  <section class="section-padding" id="section-strategy">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-6">
              <div class="mb-5 slide-in-left">
                <span class="icon-3x text-default"
                  ><i class="icofont-layers"></i
                ></span>
                <h4 class="my-3">No time limitation</h4>
                <p>
                  Our platform offers no time limitations, allowing users to
                  enjoy uninterrupted, seamless meetings tailored to their
                  needs.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="mb-5 slide-in-right">
                <span class="icon-3x text-default"
                  ><i class="icofont-ui-timer"></i
                ></span>
                <h4 class="my-3">Save your time</h4>
                <p>
                  Our platform is designed to save you time with intuitive
                  navigation and efficient features, allowing you to focus on
                  what truly matters.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="slide-in-left">
                <span class="icon-3x text-default"
                  ><i class="icofont-ui-browser"></i
                ></span>
                <h4 class="my-3">Cross-devices ability</h4>
                <p>
                  Enjoy seamless access across all your devices, ensuring a
                  consistent and high-quality experience whether you're on a
                  desktop, tablet, or smartphone.
                </p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="slide-in-right">
                <span class="icon-3x text-default"
                  ><i class="icofont icofont-shield"></i
                ></span>
                <h4 class="my-3">Trusted by hundreds</h4>
                <p>
                  Join a growing community of satisfied users who trust our
                  platform for their virtual meeting needs, confident in our
                  commitment to excellence and reliability.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  SECTION Service-2 END  -->
  <!--  SECTION TEAM  -->
  <section class="section-padding bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="slide-in-left">
            <h3 class="mb-2">Our Expert Members do the magical</h3>
            <p>
              Meet our innovative team of teenagers, driven by a passion for
              technology and creativity, dedicated to redefining the virtual
              meeting experience.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5 fade-in">
          <img
            src="images/team/team-1.jpg"
            alt=""
            class="img-fluid rounded w-100"
          />

          <ul class="list-unstyled list-inline team-social mt-4">
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-linkedin"></i></a>
            </li>
            
          </ul>
          <h4 class="mt-3">Teymur Suleymanov</h4>
          <p class="mb-0">Leader of the team & Full-Stack Developer</p>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 fade-in">
          <img
            src="images/team/team-2.jpg"
            alt=""
            class="img-fluid rounded w-100"
          />

          <ul class="list-unstyled list-inline team-social mt-4">
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-linkedin"></i></a>
            </li>
            
          </ul>
          <h4 class="mt-3">Elvin Ismayil</h4>
          <p class="mb-0">Front-end Developer</p>
        </div>
        <div class="col-lg-4 col-md-6 mt-5 fade-in">
          <img
            src="images/team/team-3.jpg"
            alt=""
            class="img-fluid rounded w-100"
          />

          <ul class="list-unstyled list-inline team-social mt-4">
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-github"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
          <h4 class="mt-3">Nihad Ibadzade</h4>
          <p class="mb-0">Back-end Developer</p>
        </div>
      </div>
    </div>
  </section>
  <!--  SECTION TEAM END  -->