@model List<string>

<div class="container mt-5">
    @if (TempData["Success"] != null)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: '@TempData["Success"]',
                confirmButtonText: 'OK'
            });
        </script>
    }
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Group Names</h4>
                    <ul class="list-group">
                        @foreach (var groupName in Model)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>
                                    <a class="text-decoration-none text-black" asp-action="Detail" asp-route-groupName="@groupName">@groupName</a>
                                </span>
                                <span>
                                    <a class="btn btn-primary btn-sm" asp-action="DetailHomework" asp-route-groupName="@groupName">View Homeworks</a>
                                </span>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
